body {
  background-color: #d9fcff;
}
.timer,
.counter,
.points {
  background-color: #f7c2f7;
  background-image: linear-gradient(
    to bottom right,
    rgb(249, 205, 249),
    rgb(235, 155, 235),
    rgb(194, 116, 194)
  );
}
.flex-item {
  box-shadow: 5px 3px 4px 0 rgba(0, 0, 0, 1);
  border-radius: 0.6em;
}
img {
  border-radius: 0.6em;
}
.title {
  background-color: #f7c2f7;
  background-image: linear-gradient(
    to bottom right,
    rgb(249, 205, 249),
    rgb(235, 155, 235),
    rgb(194, 116, 194)
  );
}
.welcome {
  background-color: #fff1c5;
}
.play {
  background-color: #f42323;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 0, 0),
    rgb(185, 28, 28)
  );
}
.pic {
  background-color: #fff1c5;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 241, 197),
    rgb(233, 218, 170)
  );
}

.question {
  background-color: #fff1c5;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 241, 197),
    rgb(233, 218, 170)
  );
}
.hovered:hover {
  background-color: #f7c2f7;
  background-image: linear-gradient(
    to bottom right,
    rgb(249, 205, 249),
    rgb(235, 155, 235),
    rgb(194, 116, 194)
  );
}
.footer {
  background-color: #000;
  color: #fff;
}
.aa {
  background-color: #f42323;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 0, 0),
    rgb(185, 28, 28)
  );
}
.ab {
  background-color: #0fc418;
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 255, 0),
    rgb(32, 121, 36)
  );
}
.ac {
  background-color: yellow;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 0),
    rgb(172, 172, 41)
  );
}
.ad {
  background-color: #1382d8;
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 144, 255),
    rgb(40, 104, 155)
  );
}
.incorrect {
  background-color: #1382d8;
  background-image: linear-gradient(
    to bottom right,
    rgb(216, 216, 216),
    rgb(140, 140, 140)
  );
}
