body {
  margin: 8px;
  font-size: 3vmin;
background-color: #D9FCFF;
}
.timer,
.counter,
.points {
background-color: #F7C2F7;
background-image: linear-gradient(to bottom right, rgb(249,205,249), rgb(235,155,235), rgb(194,116,194));
}
.timer p,
.counter p,
.points p {
  text-align: center;
}
.flex {
  margin: auto;
  width: calc(100vw - 3 * 8px);
  height: calc(100vh - 3 * 8px);
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
}
.flex > div {

box-shadow: 5px 3px 4px 0 rgba(0, 0, 0, 1);
border-radius: 20px;
  margin: 5px;
  padding: 0.5em 1vw;
  flex-basis: 0;
}
.flex > div > p {
  margin: 0;
  position: relative;
  top: 50%;
  left: 0;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.flex > div > img {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.counter {
  min-width: calc(92vw - 22ch - 42px);
  flex-grow: 1;
}
.points {
  min-width: 13ch;
}
.pic {
background-color: #FFF1C5;
background-image: linear-gradient(to bottom right, rgb(255,241,197), rgb(233,218,170));
  min-width: 40vmin;
  max-height: 50vh;
  overflow: hidden;
}
.pic > img {
  height: 100%;
  width: auto;
}
.question {
background-color: #FFF1C5;
background-image: linear-gradient(to bottom right, rgb(255,241,197), rgb(233,218,170));
  min-width: calc(70vw - 40vmin - 2em);
  min-height: 40vmin;
  max-height: 50vh;
  overflow: hidden;
  flex-grow: 1;
}
.noimg {
  min-width: calc(70vw - 2em);
}
.answer {
  min-width: 34vw;
  min-height: calc(30vh - 4em - 40px);
  flex-grow: 1;
}
.aa {
background-color: #F42323;
background-image: linear-gradient(to bottom right, rgb(255,0,0), rgb(185,28,28));
}
.ab {
background-color: #0FC418;
background-image: linear-gradient(to bottom right, rgb(0,255,0), rgb(32,121,36));
}
.ac {
background-color: yellow;
background-image: linear-gradient(to bottom right, rgb(255,255,0), rgb(172,172,41));
}
.ad {
background-color: #1382D8;
background-image: linear-gradient(to bottom right, rgb(0,144,255), rgb(40,104,155));
}
